<!--@Model Asignatura-->

<table class="table table-dark table-hover table-sm">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in @Model)
    {
        <tr>
            <td>@obj.Id</td>
            <td>@obj.Nombre</td>
        </tr>
    }
    </tbody>
</table>